*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.menu{
    display: flex;
    background-color: rgba(241, 196, 15, 0.7);
}
.menu div{
    margin: auto 0 auto 10px;
}
.menu img{
    max-width: 100%;
    max-height: 100%;
    width: 80px;
    image-rendering: optimizeSpeed;
}
.menu h1{
    padding: 20px;
}
.letreiro h1{
    display: none;
}
h2, h3, h4{
    display: inline-block;
    background-color: rgba(241, 196, 15, 0.7);
    margin: 10px 0;
    padding: 10px;
}
header h1{
    font-size: 29px;
}
header h2{
    font-size: 24px;
}
header h3{
    font-size: 20px;
}
header h4{
    font-size: 18px;
}
header button{
    color: white;
    display: inline-block;
    font-size: 16px;
    background: #E74C3C;
    border: 1px solid #E74C3C;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 0 20px 0;
}
.menu__opt{
    display: none;
}

main{
    text-align: center;
    margin: 0 20px;
}
main p{
    font-style: bold;
    text-align: justify;
    margin: 25px 0;
}
main h1{
    font-size: 30px;
    margin: 40px 0;
}
main table{
    margin: 0 15px;
    border-collapse: collapse;
    border: 1px black solid;
}
main table th{
    padding: 10px;
    background-color: #E5E5E5;
    border: 1px black solid;
    font-size: 18px;
    
}
main table td{
    border-left: 1px black solid;
    font-size: 14px;
    line-height: 15px;
    padding: 15px;
    text-align: justify;
}
.img__desktop{
    display: none;
    margin: 0;
}
.img__mobile{
    margin: 0 -20px;
}
.contato{
    text-align: center;
}
.contato label{
    text-align: left;
}
.contato div{
}
.label{
    text-align: left;
    display: inline-block;
    width:200px;
}
.contato div input{
    width: 322px;
    height: 51px;
    border: 1px solid #F1C40F;
    margin-bottom: 30px;
}
.contato__conjuntos{
    text-align: left;
}
.contato button{
    color: white;
    background: #F1C40F;
    border: 1px solid #F1C40F;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 30px;
    margin: 20px 0;
}
.contato .mensagem{
    height: 100px;
}
footer{
    background: #F1C40F;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
footer img{
    padding: 20px 0;
    width: 100px;
}
.footer__texto{
    padding: 0 50px 50px;
}
.footer__texto h1{
    font-size: 20px;
}

@media(min-width: 600px){
    .container{
        max-width: 1200px;
        margin: 0 auto;
    }
    .menu{
        display: none;
    }
    .letreiro{
        display: flex;
        flex-direction: column;
        padding: 100px;
    }
    .letreiro h1, h2, h3, h4{
        margin: 10px auto;
        padding: 10px 20px;
        text-align: center;
        display: inline-block;
        background-color: rgba(241, 196, 15, 0.7);
    }
    .button{
        display: none;
    }
    header button{
        margin: 0;
        padding: 0;
        padding: 2px;
    }
    .menu__opt{
        display: flex;
        background: rgba(229, 229, 229, 0.5);
    }
    .menu__opt ul{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        list-style: none;
    }
    .menu__opt ul li{
        margin: auto auto;
        color: white;
        padding: 10px 10px;

    }
    .menu__opt ul li a{
        color: black;
        text-decoration: none;
    }
    .menu img{
        display: none;
    }
    main table{
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    .img__mobile{
        display: none;
    }
    .img__desktop{
        max-width: 100%;
        display: block;
        padding-bottom: 50px;
    }
    .contato{
        display: flex;
        justify-content: space-around;
        padding-bottom: 50px;
    }
    .contato__conjuntos-botao{
        display: flex;
        justify-content: flex-end;
    }
}